<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
<body>
<nav class="navbar" th:fragment="navbar">
    <a href="/" class="navbar-brand">BYTE<span>GAMES</span></a>
    <div class="navbar-links">
        <a href="/" class="btn btn-secundario btn-sm">🛒 Loja</a>
        <a href="/carrinho" class="btn btn-purple btn-sm">🛍️ Carrinho</a>
        <a href="/produtos" class="btn btn-secundario btn-sm">🎮 Produtos</a>
        <a href="/categorias" class="btn btn-secundario btn-sm">📂 Categorias</a>
    </div>
</nav>
</body>
</html>
